@import 'vars';

pre {
  width: 100%;
  overflow: auto;
  padding: $baseline * 2 $baseline;
  background-color: $code__color__background;
  color: $code__color__text;;
  white-space: pre-wrap;
  word-wrap: break-word;

  code {
    font-family: $font-family--mono;
  }
}