@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,600,600i');

$baseline: 16px;

$color--primary: hotpink;
$color--secondary: magenta;
$color__link: $color--primary;
$color__text: #222;
$color__text--inverse: white;

body {
  color: $color__text;
  font-size: $baseline;
  font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  line-height: 2rem;
}

a {
  color: $color__link;
  font-weight: 600;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

.app {
  display: grid;
  height: 100vh;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: 48px auto 96px;
}

header {
  grid-area: header;
  display: flex;
  justify-content: right;
  align-items: left;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    background-color: $color--primary;
    color: $color__text--inverse;
    padding: ($baseline /2) ($baseline *1.5);
    margin: 0 $baseline;
    text-decoration: none;
    text-transform: none;
    font-size: 1.25rem;

    &:hover, &:focus {
      background-color: $color--secondary;
      text-decoration: none;
    }
  }
}

main {
  grid-area: main;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  max-width: 42rem;

  &.container--blog {
    max-width: 60rem;
  }
}

section {
  width: 100%;
}

pre {
  width: 100%;
  overflow: auto;
  padding: 1.5rem 3rem;
  background-color: $color--primary;
  color: $color__text--inverse;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.container {
  padding: 1.5rem 3rem;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: left;
  align-items: left;
}