.app {
  display: grid;
  height: 100vh;
  grid-template-areas:
    'headers'
    'main'
    'footer';
  grid-template-rows: 48px auto 96px;
}

header {
  background-color: hotpink;
  display: flex;
  justify-content: space-between;
  grid-area: headers;
}

main {
  background-color: pink;
  grid-area: main;
}

footer {
  background-color: hotpink;
  grid-area: footer;
}